@import "@unocss/reset/eric-meyer.css";
@import "@unocss/reset/tailwind.css";
@import "chrome-devtools-frontend/front_end/design_system_tokens.css";
@import "vue-json-pretty/lib/styles.css";

:root {
  --base-font: theme("typescale.body4.regular");
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  background: theme("colors.base.container");
  color: theme("colors.on.base");
  font: var(--base-font);
}

*:not(a) {
  cursor: default;
}

code {
  border: 1px solid theme("colors.base.container.elevated");
  border-radius: theme("borderRadius.small");
  background: theme("colors.base.container.elevated");
  padding: 1px 5px;
  font: theme("typescale.monospace.regular");
}

table {
  position: relative;
  border-collapse: separate;
  width: 100%;

  &.striped {
    & tr {
      &:nth-of-type(2n) {
        background: theme("colors.surface");
      }

      &:hover {
        background: theme("colors.surface5");
      }
    }

    & th,
    & td {
      &:not(:first-of-type) {
        border-left: 1px solid theme("colors.divider");
      }
    }
  }
}

th {
  position: sticky;
  top: 0;
  border-top: 1px solid theme("colors.divider");
  border-bottom: 1px solid theme("colors.divider");
  background: theme("colors.surface1");
  padding: 5px;
  font: var(--base-font);
  text-align: left;
}

td {
  padding: 1px 5px;
}
